.cultura{
        &-museo__container{
                display: flex;
                justify-content: center;
                width: 80%;
                margin: 0 auto;

                @media(max-width:$wide-phone){
                        flex-wrap: wrap;
                        justify-content: space-around;
                }

                @media(max-width:$mid-phone){
                        flex-direction: column;
                        padding-left: 8rem;
                }
                
        }

        &-parques{
                &__container{
                        display: flex;
                        justify-content: center;
                        width: 90%;
                        margin: 0 auto;
                        margin-top: 35rem;
                        padding: 1rem;
                        
                        
                }
                &_contenido{
                        padding-left:$padding;
                        padding-right:$padding;
                        width: 50%;
                        height: auto;
                        margin-left: 2rem;

                        @media(max-width:$wide-phone){
                                padding-right: 0rem;            
                        }
                }
        }

        &-otras_visitas__container{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 90%;
                margin: 0 auto;
        }
}