// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


//GRID
$cols-tr: 5;
$grid-width-tr: 114rem;
$gutter-vertical-tr: 8rem;
$gutter-vertical-small-tr: 6rem;
$gutter-horizontal: 6rem;

//GRID GASTRONOMIA
$cols: 5;
$gastr-grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gastr-gutter-horizontal: 10rem;




//OCIO
$color-white-ocio: rgb(255, 255, 255);
$color-black-ocio: #000;
$default-font-size-ocio: 1.6rem;
$cols-ocio: 2;
$grid-width-ocio: 114rem;
$gutter-vertical-ocio: 3rem;
$gutter-horizontal-ocio: 6rem;
$color-primary-ocio: #ffffff;
$color-primary-light-ocio: #85745b;
$color-primary-dark-ocio: #9b9678;
$color-secondary-light-ocio: #c78ba7;
$color-secondary-dark-ocio: #ca6069;
$color-tertiary-light-ocio: #8eaac5;
$color-tertiary-dark-ocio: #605b96;
$color-quaternary-light-ocio:#3bad9a;
$color-quaternary-dark-ocio:#8ec5bc;
$color-grey-light-1-ocio: #cababa;
$color-grey-light-2-ocio: #eee;
$color-font-tabs-ocio:#777777;
$color-grey-dark-ocio: #777;
$color-grey-dark-2-ocio: #999;
$color-grey-dark-3-ocio: #333;
$color-white-ocio: #fff;
$color-black-ocio: #000;


// FONT OCIO
$default-font-size-ocio: 1.6rem;

//GRID OCIO
$cols-ocio: 5;
$grid-width-ocio: 114rem;
$gutter-vertical-ocio: 8rem;
$gutter-vertical-small-ocio: 6rem;
$gutter-horizontal-ocio: 6rem;

// COLORS
$color-white: rgb(255, 255, 255);
$color-pink: rgb(247, 191, 223);
$color-orange: rgb(250, 114, 51);
$color-menu:rgb(46, 44, 44);
$color-black:rgb(0,0,0);
$color-grey:rgb(189, 189, 192);
$color-grey-dark:rgb(113, 113, 116);


// FONT
//$default-font-size: 1.6rem;


$padding: 5rem;
$border-imagen-cultura: 1%;
$size-image-otras-visitas:30rem;


