.first__section {
    position: relative;
    padding: 6rem 0 10rem 0;
    display: flex;
    width: 100%;
    align-items: center;
   justify-content: space-around;
   background-color: #f5f5f5;
   letter-spacing: 1;
   
   

   @media (max-width: 900px) {
       
   }

}
  