.relojAnalogico{
    border-radius: 80%;
    background-image: url('../Recursos/img/reloj-modified2.png');

    width: 100px;
    height: 100px;
    position: relative;
    top: -2rem;
    left: 5rem;
    text-align: center;
}
.aguja{
    position: absolute;
    width: 1px;
    font-weight: 100;
    transform-origin: right bottom;
    background-color: black;
    height: 40px;
    top:10px;
    right: 50px;
    
    &--segundos{
        top: 10.5px;
        right: 48px;
        background-color: red;
    }
        
    &--horas{
        height: 25px;
        top:25px;
        right: 49px;
    }
}
.relojCirculo{
    border-radius: 90%;
    background-color: rgb(0, 0, 0);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 4.8rem;
    left: 4.8rem;
}