@import '../../../variables';

.delete {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9500;
    opacity: 1;
    transition: all 0.3s;

    &__content {
        width: 60%;
        min-height: 29rem;
        background-color: aliceblue; //TEST
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
    }

    &__text {
        flex: 0 1 90%;
        display: flex;
        flex-direction: column;

        &--header {
            align-self: center;
            margin: 3rem 0;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            text-align: center;
        }

        &--contents {
            display: flex;
            justify-content: space-around;
            align-content: center;

            &--element {
                height: 5.2rem;
                width: 22rem;
                background-color: rgba(118, 110, 101, 0.15);
                position: relative;
                text-align: center;
                font-weight: bold;
                color: inherit;
                font-size: 1.6rem;
                border-bottom: 2px solid black;

                display: flex;

                justify-content: center;
                align-items: center;
            }

            @media only screen and (max-width: $wide_tablet) {
                flex-direction: column;
                align-items: center;

                &--element {
                    width: 70%;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        margin: 5rem auto 4rem;
        width: 70%;
        height: 5rem;
        position: relative;
        justify-content: space-between;

        & button {
            ///////////////////////////////
            // Button style resets
            border: 0;
            //////////////////////////////
            
            background-color: aliceblue;
            width: 40%;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.6rem;
            letter-spacing: 0.1rem;
            cursor: pointer;
            border-right: 3px solid black;
            border-left: 3px solid black;
                
            @media only screen and (max-width: $thin_tablet) {
                font-size: 1.4rem;
            }
        }

        &--cancel {
            transition: background-color 0.3s ease-out;

            &:hover {
                background-color: rgba(118, 110, 101, 0.4);
            }
        }

        &--delete {
            // background-color: rgba(223, 32, 18, 0.3);
            transition: background-color 0.3s ease-out;
            color: red;
            border-color: red;
            
            &:hover {
                background-color: rgba(223, 32, 18, 0.5);
            }
        }

        @media only screen and (max-width: $wide_phone) {
            flex-direction: column;
            align-items: center;
            height: 15rem;
            margin: 2rem auto 2rem;

            & button {
                height: 5rem;
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
}

.delete-enter {
    opacity: 0;
}
.delete-enter-active {
    opacity: 1;
    transition: all 0.2s ease-in;
}
.delete-exit {
    opacity: 1;
}
.delete-exit-active {
    opacity: 0;
    transition: all 0.2s ease-in;
}