.section__transportVoucher {
  height: 70rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 128, 128, 0.904),
      rgba(255, 255, 255, 0.8),
      rgba(128, 128, 128, 0.904)
    ),
    url("../../Recursos/img/mapa-metro-fondo.png");
  background-size: cover;
  background-attachment: fixed;

  &--h1,
  &--h1-subtitle {
    padding: 3rem;
    padding-top: 8rem;
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 0.7rem;
    text-shadow: 4px 4px 6px rgb(65, 65, 65);
    text-decoration: none;
    display: block;
    &-subtitle {
      font-size: 2rem;
      letter-spacing: 0.7rem;
      color: black;
    }
  }

  &_content {
    display: flex;
    justify-content: space-evenly;

    &--item {
      & h2 {
        background-color: rgb(233, 233, 233);
        border: double;
        border-color: rgba(0, 0, 0, 0.45);
        border-radius: 15px;
        background-image: linear-gradient(
          to top,
          rgba(255, 255, 255, 0.4),
          rgba(128, 128, 128, 0.7),
          rgba(255, 255, 255, 0.4)
        );
        font-family: "Latin Modern Roman";
        font-style: italic;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}

hr {
  margin: 0 auto;
  margin-bottom: 8rem;
  width: 40rem;
  height: 2px;
  border: none;
  background-color: #333;
}

.arrow {
  animation-name: rotateIcons;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.card--transporte {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 18rem;
  width: 30rem;

  &__side {
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    border-radius: 15px;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
}

@media (max-width: 1100px) {
  .section__transportVoucher {
    height: 115rem;

    &_content {
      flex-direction: column;
      &--item {
        &:not(:last-child){
          margin-bottom: 4rem;
        }
        & h2 {
          width: 20%;
          margin: 0 auto;

          &:hover {
            transform: none;
          }
        }
      }
    }
  }
  .card--transporte {
    margin: 0 auto;

    &__side {
      backface-visibility: visible;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
      border-radius: 15px;
  
      &--back {
        transform: rotateY(0deg);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0deg);
    }
    &:hover &__side--back {
      transform: rotateY(0deg);
    }
  }
}

@media (max-width: 840px) {
  .section__transportVoucher {
    height: 125rem;
    &--h1-subtitle {
      display: none;
    }
    &_content {
      &--item {
        &:not(:last-child){
          margin-bottom: 6rem;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .section__transportVoucher {

    &_content {
      &--item {
        & h2 {
          width: 40%;
        }
      }
    }
  }
}