// COLORS
$color-white: rgb(255, 255, 255);
$color-pink: rgb(247, 191, 223);
$color-orange: rgb(250, 114, 51);
$color-menu:rgb(46, 44, 44);
$color-black:rgb(0,0,0);
$color-grey:rgb(189, 189, 192);
$color-grey-dark:rgb(113, 113, 116);


// FONT
$default-font-size: 1.6rem;


$padding: 5rem;
$border-imagen-cultura: 1%;
$size-image-otras-visitas:30rem;

//GRID
$cols: 5;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//SCREEN WIDTH
$wide-screen:1600px;
$mid-screen:1400px;

$wide-tablet:1200px;
$mid-tablet:1000px;
$thin-tablet:900px;

$wide-phone:700px;
$mid-phone:600px;
$thin-phone:500px;


